.nav {
  padding: 5px 0px;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  z-index: 999;
  box-shadow: 1px 2px 5px 2px burlywood;
  position: fixed;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.nav-left h1 {
  font-size: 2rem;
  color: #ffc100;
}
.nav-left h1 span {
  color: #db699e;
}
.nav-left > img {
  height: 40px;
  width: auto;
}
.nav-mid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.nav-mid-link {
  text-decoration: none;
  list-style-type: none;
  color: black;
}
.nav-mid-link:hover {
  border-bottom: 3px solid red;
  color: rgb(149, 41, 41);
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.signin {
  cursor: pointer;
}

.signUp {
  padding: 7px;
  border: 2px solid blue;
  color: blue;
  font-weight: 700;
  cursor: pointer;
}
.menuIcon {
  position: absolute;
  right: 26px;
  top: 26px;
  display: none;
  font-size: 1.5rem;
}
.myLink {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav-mid {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .signUp {
    display: none;
  }
  .signin {
    display: none;
  }
  .menuIcon {
    display: block;
  }
}
/* @media screen and (max-width: 576px) {
  
} */
