* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
/* ===========Navbar=========== */

/* =======Digital Markiting Service========== */

/* ===========feaures========== */

/* =========education============ */

/* =======middle=========== */

.middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 100px;
}
.mid-sub {
  display: flex;
  flex-direction: column;
}
.middle-num {
  font-size: 60px;
  font-weight: 900;
}
.middle-text {
  font-size: 20px;
  font-weight: 400;
  color: #2e635a;
}
@media screen and (max-width: 568px) {
  .middle {
    gap: 5rem;
  }
}
/* ==========section=========== */
.section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section-left {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 25px;
}
.section-main {
  font-size: 25px;
  font-weight: 400;
  color: #2e635a;
}
.section-chief {
  font-size: 18px;
  color: #2e635a;
}
.section-img {
  height: 600px;
}
.arrow {
  padding: 15px;
  height: 20px;
  border-radius: 30px;
  background-color: #fd6b01;
  cursor: pointer;
}
.arrow-head {
  display: flex;
  gap: 25px;
}
/* ========section2======= */
.section2 {
  height: 40vh;
  width: 100%;
  background-color: #ebe5d1;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  row-gap: 50px;
}
.section2-left > h2 {
  font-size: 45px;
  font-weight: 800;
  margin-top: 30px;
}
.section2-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section2-left > p {
  font-size: 18px;
  color: #2e635a;
}
.section2-right > p {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60px;
  width: 160px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: #fd6b01;
  border-radius: 5px;
  cursor: pointer;
}
/* ====footer======= */

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-bottom: 90px;
  margin-top: 90px;
}
.footer-left {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.contact {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #2e635a;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.link1 {
  font-size: 24px;
  font-weight: 700;
  color: #017aff;
}
.link2 {
  font-size: 16px;
  font-weight: 600;
  color: #2e635a;
  word-spacing: 5px;
}
.footer-right {
  display: flex;
  flex-direction: column;

  gap: 30px;
}
.footer-right > p {
  font-size: 18px;
  color: #2e635a;
  letter-spacing: normal;
}
.send-arrow {
  background-color: #017aff;
  height: 20px;
  padding: 12px;
  width: auto;
  margin-right: 200px;
}
.input-main {
  display: flex;
  align-items: center;
}
.input {
  height: 40px;
  width: 100%;
}
