* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
/* ===========Navbar=========== */

/* =======Digital Markiting Service========== */

/* ===========feaures========== */


/* =========education============ */
.education {
  height: 100vh;
  width: 100%;
}

.education-top-mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.education-bottom {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edu-card {
  height: 60vh;
  width: 28%;
  padding: 15px;
  border-radius: 5px;
  background-color: #ebe5d1;
}
.edu-img-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 30vh;
  width: 23vw;
  border-radius: 5px;
  background: linear-gradient(180deg, #f103a4 0%, #012a58 70.1%);
}
.edu-img {
  height: 240px;
  padding: 20px;
}
.card-sub {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  margin-top: 40px;
}
.card-sub-smm {
  height: 20px;
  width: 50px;
  padding: 10px;
  color: #97770bcc;
  font-weight: 600;
  font-size: 20px;
  background-color: #e9dbadcc;
}
.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rupee {
  font-size: 16px;
  font-weight: 600;
}
/* =======middle=========== */

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25%;
  margin: 100px;
}
.mid-sub {
  display: flex;
  flex-direction: column;
}
.middle-num {
  font-size: 60px;
  font-weight: 900;
}
.middle-text {
  font-size: 20px;
  font-weight: 400;
  color: #2e635a;
}
/* ==========section=========== */
.section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section-left {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 25px;
}
.section-main {
  font-size: 25px;
  font-weight: 400;
  color: #2e635a;
}
.section-chief {
  font-size: 18px;
  color: #2e635a;
}
.section-img {
  height: 600px;
}
.arrow {
  padding: 15px;
  height: 20px;
  border-radius: 30px;
  background-color: #fd6b01;
  cursor: pointer;
}
.arrow-head {
  display: flex;
  gap: 25px;
}
/* ========section2======= */
.section2 {
  height: 40vh;
  width: 100%;
  background-color: #ebe5d1;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  row-gap: 50px;
}
.section2-left > h2 {
  font-size: 45px;
  font-weight: 800;
  margin-top: 30px;
}
.section2-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section2-left > p {
  font-size: 18px;
  color: #2e635a;
}
.section2-right > p {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60px;
  width: 160px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: #fd6b01;
  border-radius: 5px;
  cursor: pointer;
}
/* ====footer======= */

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  margin-bottom: 90px;
  margin-top: 90px;
}
.footer-left {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.contact {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #2e635a;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.link1 {
  font-size: 24px;
  font-weight: 700;
  color: #017aff;
}
.link2 {
  font-size: 16px;
  font-weight: 600;
  color: #2e635a;
  word-spacing: 5px;
}
.footer-right {
  display: flex;
  flex-direction: column;

  gap: 30px;
}
.footer-right > p {
  font-size: 18px;
  color: #2e635a;
  letter-spacing: normal;
}
.send-arrow {
  background-color: #017aff;
  height: 20px;
  padding: 12px;
  width: auto;
  margin-right: 200px;
}
.input-main {
  display: flex;
  align-items: center;
}
.input {
  height: 40px;
  width: 100%;
}
