* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
/* ===========Navbar=========== */

/* =======Digital Markiting Service========== */

/* ===========feaures========== */

/* =========education============ */

/* =======middle=========== */

.middle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 100px;
}
.mid-sub {
  display: flex;
  flex-direction: column;
}
.middle-num {
  font-size: 60px;
  font-weight: 900;
}
.middle-text {
  font-size: 20px;
  font-weight: 400;
  color: #2e635a;
}
@media screen and (max-width: 568px) {
  .middle {
    gap: 5rem;
  }
}
/* ==========section=========== */

/* ========section2======= */

/* ====footer======= */

.footer {
  border: 1px solid black;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}
.footer-left {
  display: grid;
  gap: 20px;
  grid-template-rows: 2fr 1fr 1fr;
}
.footer-left h2 {
  font-size: 2rem;
}
.contact {
  color: #818181;
}
.footer-middle {
  display: grid;
  gap: 30px;
}

.middle-up a {
  text-decoration: none;
  padding: 10px;
}
.footer-right {
  display: grid;
  gap: 20px;
}
.input-main {
  padding: 5px;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.input-main input {
  background-color: #e6e6e6;
  border: none;
  outline: none;
  font-size: 16px;
}
.input-main i {
  background-color: #017aff;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
